.CloseIcon {
  position: absolute;
  transform: translate(-20px, -20px);
  cursor: pointer;
}

.MessageCard {
  top: 8rem;
  z-index: 100;
  right: 2rem;
  position: fixed !important;
}

@media (max-width: 499px) {
  .MessageCard {
    right: 1rem;
    width: 50% !important;
  }
}

@media (min-width: 1025px) {
  .MessageCard {
    right: 4rem;
    width: 20% !important;
  }
}
