.dark-mode3 {
  background-color: #171725 !important;
}

.dark-mode2 {
  background-color: #1e1e2d !important;
}

.dark-mode1 {
  background-color: #252535 !important;
}

.white {
  color: white !important;
}

.gray {
  color: gray !important;
}
